#title{background-color: #ff4c68;color: white;}
h1{font-family: "Montserrat"; font-size: 3.5rem; line-height: 1.5; padding-bottom: 15px;}
.container-fluid{padding: 3% 15% 5%;}
body{background-color:#ff4c68;font-family: "Montserrat";}
.navbar-brand{font-weight: bold; font-size: 2.5rem; font-family: "Ubuntu";}
.navbar{padding: 0 0 4.5rem;}
.nav-link{padding: 0 20px; font-family: "Montserrat";}
.button {margin: 5% 3% 5% 0;}
/* rotate image */
.title-image{transform: rotate(15deg); border-radius: 10%; width: 70%; margin-left: 10%; position: absolute; right: 20%;}
#features{padding: 3% 15%; background-color: white;position:relative; z-index: 1;}
.feature{text-align: center; position: relative;z-index: 1;}
h3{font-family: "roboto"}
.icon{color: #ef8172; margin-bottom: 1rem;}
.icon:hover{color: #ff4c68;}
#testimonials {text-align: center;color: white; background-color: #ef8172;padding: 5% 15%;}
.dog-testimonials{width: 8%; border-radius: 100%; margin: 3%;}
#press{background-color: #ef8172;text-align: center;}
.press-image{padding: 10px; width: 15%; margin: 20px;}
#pricing{background-color: white; text-align: center;padding: 100px;}
.pricing-button{padding: 3% 2%;}
@media (max-width:975px){
  .title-image{ position: static;transform: rotate(0);margin: auto;}
  #title{text-align: center;}
  .navbar{text-align: left;}
}
#cta{background-color: #ff4c68; text-align: center;color: white; font-family: "Montserrat"; font-size: 2.5rem;
padding: 2% 15%;}
#footer{text-align: center; background-color: white; padding: 2% 15%;}
.icon-footer{margin:10px 10px 15px;}
.icon-footer:hover{color: #ef8172;}
.go-home{position:fixed;right: 20px; bottom: 10px; width: 40px; border-radius: 100%; z-index: 1;}
